NODE_ENV=development

S3_REGION=eu-west-paris-1
S3_BUCKET_NAME=portalis-collect-test-bucket

S3_URL=http://localhost:9000
## to docker use host.docker.internal over localhost
S3_ACCESS_KEY=local_access_key
S3_SECRET_KEY=local_secret_key

## to docker use host.docker.internal over localhost
FILE_DB_URL=mongodb://localhost:55433/rawfiles
## to docker use host.docker.internal over localhost
PORT=3015

AUTHENTICATION_ID=username
AUTHENTICATION_KEY=password
HASH_KEY=hashkey
AUTH_STRATEGY=basic
